@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    summary {
      list-style: none;
    }
    summary::-webkit-details-marker {
      display: none; 
    
    }
    details {
      padding: 0;
      margin:0;
    }
  }
  details[open] summary::after {
    content: "▲"; 
  }
  
  summary::after {
    content: "▼"; 
    margin-left: 8px;
  }